@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* header {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 1em;
} */

.container-1 {
  display: flex;
  justify-content: space-evenly;
}

.left {
  list-style: none;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
}

h1.org {
  color: orange;
  font-size: 50px;
}
strong {
  color: red;
}


.left li {
  display: inline;
  padding: 5px;
  font-size: 17px;
}

i.fa.fa-search {
  color: rgba(0,0,0,.65);
}

.left a {
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: rgba(0,0,0,.65);
}


nav {
  background-color: #fff;
  color: #333;
  padding: 0.8em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display:inline ;
  font-family: Sofiapro,Georgia,sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .0625rem;
  padding: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-underline-offset: 0.125rem;
}

p.F {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #262525;
  margin-left: 190px;
  padding: 13px;
  letter-spacing: 1px;
}

nav a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #333;
}



section.recipe-info {
  max-width: 617px;
  font-weight: 600;
  word-spacing: 2px;
  font-size: 3rem;
  line-height: 3.25rem;
  text-underline-offset: 0.313rem;
}


ins {
  font-size: 17px;
}

p.pizza {
  font-size: 18px;
  max-width: 600px;
  color: #1b1a1a;
}

p.pub {
  color: #a79e9e;
}

b.bold {
  color: #000;
}

p.ph {
  font-size: 13px;
  color: #9d8d8d;
}

.time {
  background-color: #fff8f1;
  max-width: 700px;
  height: 125px;
  display: flex;
  justify-content: space-around;
}

span {
  margin-top: 50px;
  font-size: 30px;
  font-family: ui-monospace;
}

p.para {
  font-size: 23px;
  max-width: 700px;
  word-spacing: 2px;
  color: #6a6565;
  font-family: emoji;
}

h2 {
  font-size: 34px;
  font-weight: 700;
}

li {
  font-size: 24px;
  color: #766f6f;
  font-family: emoji;
}

p {
  color: #1b1a1a;
  word-spacing: 2px;
}

button {
  width: 245px;
  padding: 12px;
  color: #9b0b0b;
  background-color: #fff;
  border: 2px solid #6c0303;
  font-size: 15px;
}

button:hover{
  color: #fff;
  background-color: #6c0303;
  transition: 0.7s;
  cursor: pointer;
}

article {
  margin-left: 180px;
  padding: 22px;
  background-color: #fff;
}

.Reviews {
  border: 36px solid #fff7f8;
  text-align: center;
  width: 550px;
  padding: 20PX;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.recipe-info,
.ingredients,
.instructions {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.BTN{
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #b1004d;
  border: none;
  font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: .0625rem;
    font-weight: 700;
    text-transform: uppercase;
    text-underline-offset: 0.125rem;
}

